<head>
    <title>TiesoInn - Pagar</title>
        <link rel="stylesheet" href="/styles/payment.css">
</head>

<body>
    <h1>Realizar pago</h1>

    <div id="card-element">
        <button id="btn-pagar" class="btn btn-success">Pagar</button>
        <!-- Stripe colocará aquí los campos de la tarjeta -->
    </div>

    <script src="https://js.stripe.com/v3/"></script>
    <script src="/scripts/payment.js"></script>
</body>