* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Fondo de olas */
.wave-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    padding: 0px;
}

body {
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Modal de Carga */
.loading-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #ff8400;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


.login-container {
    width: 100%;
    max-width: 400px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333333;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #555555;
}

/* Estilo común para los campos de texto (correo y contraseña) */
input[type="email"],
input[type="password"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: larger;
    background-color: #ff8400;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b65e00;
}

p {
    margin-top: 15px;
    font-size: 14px;
}

a {
    color: #ff8400;
    text-decoration: none;
}


/* Contenedor de la contraseña */
.password-container {
    position: relative;
    width: 100%;
}

/* Icono de mostrar/ocultar contraseña */
#togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: #000000;
    cursor: pointer;
}

#togglePassword:hover {
    text-decoration: underline;
}

/* Notificaciones */
.notification {
    display: none;
    padding: 10px;
    margin-top: 10px;
    background-color: #ff8400;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
}

/*Google*/
.google-login button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: larger;
    background-color: #4285f4;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.google-login button img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}